@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}
#navigation-bar {
  background-color: #3b5d50;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding-left: 138px;
  padding-right: 138px;
}

#brand-name {
  text-decoration: none;
  color: aliceblue;
  font-size: 32px;
  font-weight: bold;
}
#menu-item {
  display: flex;
  align-items: center;
}
#menu-name {
  display: flex;
  align-items: center;

  gap: 35px;
}

.menu {
  text-decoration: none;
  position: relative;

  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  padding: 14px 0;
}
#cart {
  color: aliceblue;
  height: 21px;
  width: 21px;
  margin: 6px;
  cursor: pointer;
}
#icons {
  display: flex;
  align-items: center;

  margin-left: 60px;

  gap: 20px;
}
#hero {
  background-color: #3b5d50;
  background-image: url(../assets/dots-green.svg);
  background-repeat: no-repeat;
  background-position: right top;

  background-size: 270px 345px;

  height: 480px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px 85px 20px 80px;
}
#couch {
  width: 800px;
  position: relative;
  right: -30px;
  top: 15px;
}
h1 {
  color: aliceblue;
  text-align: left;
  font-weight: bold;
  font-size: 60px;
}
p {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;

  line-height: 1.7;

  max-width: 500px;

  margin-bottom: 30px;
}
#hero-buttons {
  display: flex;

  gap: 12px;
}

#shop-button,
#explore-button {
  text-decoration: none;

  padding: 15px 28px;

  border-radius: 30px;

  font-weight: bold;
}

#shop-button {
  background-color: #f9bf29;

  color: #222;
}
#shop-button:hover{
 background-color: #dfb754;
 color: white;
}
#explore-button:hover{
  padding: 15px 30px;
}

#explore-button {
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.testi-head {
  font-size: xx-large;
  font-weight: 500;
  color: #161616;
}

.Testimonials {
  background-color: #eff2f1;
  text-align: center;
  padding-top: 150px;
  height: 650px;
  p {
    padding-top: 40px;
    color: #666;
    line-height: 1.9;
    font-size: large;
    font-weight: 500;
    padding-left: 200px;
    max-width: 1100px;
    margin-bottom: 60px;
  }
  img {
    border-radius: 50%;
    width: 5%;
    height: 5%;
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
  }
  span {
    color: #555;
  }
}
.arrow-left {
  position: relative;
  left: -600px;
  top: 100px;

  border: none;
  cursor: pointer;
  color: #8d949b;
  font-size: 40px;
}

.arrow-right {
  position: relative;
  right: -600px;
  top: -270px;
  transform: translateY(-50%);

  border: none;
  cursor: pointer;
  color: #8d949b;
  font-size: 40px;
  z-index: 1000;
}

.heading {
  background-color: #eff2f1;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: last baseline;
  padding-top: 100px;
  padding-left: 120px;
  .view-more a {
    margin-left: 900px;
    color: #383737;
  }
  h2 {
    font-size: xx-large;
    font-weight: 600;
    color: #2e2d2d;
  }
}
.view-picture {
  background-color: #eff2f1;
  
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 120px;
  padding-top: 100px;
  padding-right: 65px;

 
  p {
    padding-top: 12px;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.9;
    span {
      color: #515050;
    }
  }
}
.post{
  overflow: hidden;
  border-radius: 6%;
}
.post img {
    width: 420px;
    border-radius: 6%;
    object-fit: cover;
    gap: 5px;
    height: 300px;
    transition: transform 0.5s ease;
  }
  .post:hover img{
    transform: scale(1.03);
    opacity: 93%;
  }
.footer-top{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    .chair{
      position: relative;
      width: 400px;
      top: -140px;
      left: 25%;
      transform: translateX(-50%);
    
     
    }
}
.newsletter{
    display: flex;
    justify-content:start;
    h3{
        font-weight: 500;
        font-size:20px;
        color: #515050;
    }
}
.footer-left{
    padding-left: 120px;
    padding-top: 100px;
   
    .newsletter-form{
       display: flex;
       justify-content: space-evenly;
       gap: 16px;
        padding-top: 15px;
    }
   
    .newsletter-form-inside{
        border-radius: 5px;
        padding: 15px 20px 15px 5px;
       border: 1px solid #515050;   
    }
    

    button{
        background-color: #3b5d50;
        padding: 12px 30px 12px 30px;
        border-radius: 10px;
        border: 1px solid #3b5d50;
        color:white;
        font-size: 20px;
    }
}
.footer-content{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content:left;
    width: 800px;
    column-gap: 90px;
   line-height: 2.1;
   align-items: center;
   
 
    color: #333;
    padding-left: 100px;
    
   
    .name{
       h1{
         color: #414141;
         font-size: 40px;
         font-weight: 400;
       }
       p{
        color: #666;
        width: 400px;
        padding-top: 20px;
       }
    }
   
}

 .footer-column a{
  text-decoration: none;
  color: #484747;
  display: block;
  justify-content:flex-start;
  width: 130px;
  font-size: 14px;
  
    }
    .footer-column a:hover{
        color: #797575;
    }
.social-icons {
   display: flex;
   gap: 12px;
   margin-top: 25px;
}
.social-icons a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #eef2f4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #233747;
    text-decoration: none;
    font-size: 14px;
    
}
.social-icons a:hover{
    background: #3b5d50;
    color: white;
}
.footer-bottom{
    display: flex;
    justify-content:space-between ;
    padding-left: 100px;
 
    .Copyright{
        line-height: 1.5;
        font-size: 15px;
        font-weight: 400;

        color: #777;
        span{
            color: #161616;
            cursor: pointer;
        }
        span:hover{
            color: #797575;
        }
    }
  
    .footer-bottom-right a{
 text-decoration: none;
 width: 500px;
   display: inline;
 
   
    color: #777;
    
    }
}