*{
    background-color: antiquewhite;
}

.kuchbhi{
    background-color: blueviolet;
}
#submitbutton{
    background-color: rgb(255, 225, 0);
}
h1{
    background-color: burlywood;
}
h1{
    color: aqua;
}