.personal-details
{
     display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 10px;

}
.contact-details{
     display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 10px;
}
.qualification-details{
    display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  row-gap: 10px; 
}
.language-knowledge{
    display: grid;
  grid-template-columns: auto auto auto auto ;
  row-gap: 10px; 

}
.identification-details{
  display: grid;
  grid-template-columns: auto auto ;
  row-gap: 10px; 
}
.buttons{
    text-align: center;
}
h2{
    text-align: center;
}